<% provide(:title, t(".heading")) %>
<!-- banner part starts -->
<section class="hero bg-image">
  <div class="hero-inner">
    <div class="container text-center hero-text font-white">
      <h1><%= t(".top")%></h1>
      <div class="banner-form">
        <form class="form-inline">
          <div class="form-group">
            <div class="form-group">
              <input type="text" class="form-control form-control-lg" id="exampleInputAmount"> </div>
          </div>
          <button onclick="location.href='restaurants.html'" type="button" class="btn theme-btn btn-lg"><%= t(".search_btn")%></button>
        </form>
      </div>
    </div>
  </div>
</section>
<section class="product">
  <div class="container">
    <div class="title text-xs-center m-b-30">
      <h2><%= t(".title")%></h2>
    </div>
    <div class="row">
      <!-- Each food item starts -->
      <div class="col-xs-12 col-sm-6 col-md-4 food-item">
        <div class="food-item-wrap">
          <div class="figure-wrap bg-image" data-image-src="<%= asset_path("food1.jpg") %>" >
            <div class="distance"><i class="fa fa-pin"></i>1240m</div>
            <div class="rating pull-left"> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star-o"></i> </div>
            <div class="review pull-right"><a href="#">198 reviews</a> </div>
          </div>
          <div class="content">
            <h5><a href="profile.html">The South"s Best Fried Chicken</a></h5>
            <div class="product-name">Fried Chicken with cheese</div>
            <div class="price-btn-block"> <span class="price">$ 15,99</span>
            <% if logged_in? %>
              <a href="" class="btn theme-btn-dash pull-right"><%= t(".add_cart")%></a>
            <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
